
.board {
  width:100vmin;
  height: 100vmin;
  margin: auto;
  border: 1px solid black;
  box-sizing: border-box;
}

.row {
  height: 10%;
  width: 100%;
  overflow: hidden;
}

.menu {
  position: absolute;
  right: 10px;
}