/* You can add global styles to this file, and also import other style files */
.odd-row .cell:nth-child(odd) {
  background-color: #CCC;
}

.even-row .cell:nth-child(even) {
  background-color: #CCC;
}

body {
  margin: 0;
}

html, body, app-root, app-root > div {
  height: 100%;
  display: block;
}

chess-board {
  height: 100%;
  display: flex;
}